<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>About Jewler-E</h1>
    <p>About our company...Nobody in the world has the BEST bling than US!</p>
  </body>
</html>
