<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Contact Us at...</h1>
    <p>773-999-8000 or at Jewler-E@gmail.com</p>
  </body>
</html>
