<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to Jewler-E</h1>
    <p>This website enables customers to buy customized jewlery.</p>
  </body>
</html>
