<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>We treaure and respect your privacy</h1>
    <p>Your account is safe with us!</p>
  </body>
</html>
